body {
  background-color: #999894;
}

.gray {
  background-color: #ccc8c4;
}

.square {
  width: 10px;
  height: 10px;
  margin: 1px;
}

.cell-map {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 1200px;
}

.cell-map--container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
